PORT=4000
NODE_ENV=development

# MongoDB (search combo, CMS páginas)
MONGODB_URI=mongodb+srv://robert:DUPy%21JHj%25kzi2Gd@cluster0.8cvak4a.mongodb.net/idea?retryWrites=true&w=majority&appName=Cluster0

# RapidAPI - JSearch
RAPIDAPI_JSEARCH_KEY=

# Anthropic - Claude
CLAUDE_API_KEY=
CLAUDE_MODEL=claude-sonnet-4-20250514
